p, li{
  color: #707C80;
}
.dfont {
  font-family: 'Noto Sans SC', sans-serif;
}
.talign {
  margin: 0;
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
}
#floatclear{
  clear: both;
}

/* all 3 page nav */
#main-navbar{
  background-color: #333333;
  overflow: hidden;
}
#navbar-container{
  float: left;
  width: 100%;
  position: relative;
}
#main-navbar ul{
  list-style-type: none;
  margin: 10;
  padding: 10;
  position: relative;
  left: 50%;
  float: left;
}
#main-navbar ul li{
  float: left;
  position: relative;
  right: 50%;
  display: block; 
}
#main-navbar ul li a{
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 100;
}
#main-navbar ul li a:hover{
  background-color: #000;  
}
#onpage{
  text-decoration: underline;
}

/* about me page */
#aboutmeimg{
  float: right;
  position: relative; 
  top: -150px;
  right: 150px;
}
#gcontainer{
  width: 300px;
	height: 500px;
	margin: 10px;
	padding: 10px;
  float: right;
}
#indexp{
  width: 400px;
	height: 200;
	margin: 10px;
	padding: 0px;
  text-align: center;
}
#aboutmeh1{
  font-family: 'Kaushan Script', cursive;
  font-size: 75px;
  color: #30BFBF;
  margin: 0;
}